

#color{
   background-color: yellow;
}

.border{
    border: 1px solid black;
}
.border1{
border: 1px solid black;
background-color: red;

}

.border2{
    border: 1px solid black;
    background-color: green;
}